h1 {
  margin-left: 2%;
  font-weight: 700;
  font-size: 64px;
}

.task {
  padding: 20px;
  margin: 30px;
  background-color: #1f1f1f;
  border-radius: 8px;
}

.centralize {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.buttons {
  text-align: center;
}

button {
  color: rgb(212, 212, 212);
  padding: 12px 24px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.create-button {
  background-color: rgb(3, 105, 12);
  padding: 14px;
  margin-left: 30px;
  font-size: 24px;
  font-weight: 600;
}

.delete-button {
  background-color: rgb(168, 1, 1);
} 

.edit-button {
  background-color: rgb(10, 0, 150);
  margin-right: 12px;
}

.create-button:hover {
  background-color: rgb(2, 82, 8);
}

.delete-button:hover {
  background-color: rgb(134, 0, 0);
} 

.edit-button:hover {
  background-color: rgb(8, 0, 126);
}