.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
}

.title {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    flex: 1;
}

.back-button {
    background-color: rgb(88, 88, 88);
    padding: 15px;
    min-width: 10%;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    align-self: center;
    margin-right: 100px;
}

.back-button:hover {
    background-color: rgb(65, 65, 65);
}

.inputs {
    gap: 40px;
    padding: 40px;
    margin: 30px;
    background-color: #1f1f1f;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.submit-button-container {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.submit-button {
    background-color: rgb(3, 105, 12);
    padding: 15px;
    min-width: 10%;
    font-size: 20px;
    font-weight: 600;
}

.submit-button:hover {
  background-color: rgb(2, 82, 8);
}