.lefttaskcontainer {
  text-align: left;
  width: 50%;
}

.righttaskcontainer {
  width: 50%;
  text-align: right;
}

.button {
  background-color: rgb(255, 134, 134);
  padding: 12px 24px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}